<div id="set-graph-options">
    <div class="option">
        <div class="option-name">Sorted:</div>
        <div class="option-options">
            <div class="option-options-option">Deviation</div>
            <div class="option-options-option" >Total</div>
        </div>
    </div>
    <div class="option">
        <div class="option-name">Bars:</div>
        <div class="option-options">
            <div class="option-options-option">Hidden</div>
            <div class="option-options-option" >Light</div>
            <div class="option-options-option">Dark</div>
        </div>
    </div>
    <div class="option">
        <div class="option-name">Division:</div>
        <div class="option-options">
            <div class="option-options-option" >None</div>
            <div class="option-options-option">Year</div>
            <div class="option-options-option">Block</div>
        </div>
    </div>
</div>


    
<div id="mechanics">
    <div id="mechanics-list">
        <div class="mechanic" *ngFor="let mechanic of getMechanics()" (mouseover)="hover(mechanic.mechanicRule.name)" (mouseout)="unhover(mechanic.mechanicRule.name)" 
        (click)="selectMechanic(mechanic.mechanicRule.name, $event)" (contextmenu)="rightClick(mechanic)" title="{{getMechanicTooltip(mechanic.mechanicRule.name)}}">
            <div class="mechanic-color" [style]="getCircleStyle(mechanic)"></div><span class="mechanic-name">{{getMechanicTitle(mechanic.mechanicRule.name)}}</span>
        </div>
    </div>
</div>